<style>
      body {
        font-family: sans-serif;
        margin: 0;
        padding: 1rem;
        background-color: #f9fafb;
      }
      .card {
	background: white;
	border-radius: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	}
    .vital-row {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
      }
</style>

<!-- Vital Signs Card -->
<div class="card">
<h2>Vital Signs</h2>
<div class="vital-row">
  <span>Heart Rate:</span>
  <span id="bpmdata">-- bpm</span>
</div>
<div class="vital-row">
  <span>Body Temp:</span>
  <span id="tempdata">-- °C</span>
</div>
<div class="vital-row">
  <span>Humidity:</span>
  <span id="humiditydata">-- %</span>
</div>
</div>

<script type="module" client:load>
window.addEventListener("DOMContentLoaded", () => {
  const pulse = document.getElementById("bpmdata");
  const temp = document.getElementById("tempdata");
  const humidity = document.getElementById("humiditydata");

  const socket = new WebSocket("ws://172.20.10.2:8765"); // WebSocket server address
  console.log("here");

  socket.onmessage = (event) => {
    const inter = JSON.parse(event.data);
    if (typeof(inter) == "string"){
      const data = JSON.parse(inter);
      if (data.type == "sensor"){
        pulse.innerText = data.pulse + " BPM";
        temp.innerText = data.temperature + " °C";
        humidity.innerText = data.humidity + " %";
      }
    }
  }
});
</script>
