---
import { onMount } from "astro/jsx-runtime"
---

<div>
  <img id="stream" style="width: 640px; border-radius: 12px;" />
</div>

<script type="module" client:load>
window.addEventListener("DOMContentLoaded", () => {
  const img = document.getElementById("stream");
  const socket = new WebSocket("ws://172.20.10.13:8765"); // WebSocket server address
  console.log("here");

  socket.onmessage = (event) => {
    img.src = `data:image/jpeg;base64,${event.data}`;
  }
});
</script>
